footer.pw__admin-footer {

	div.logo {
		text-align: center;
		padding: 3rem 0;
		
		img {
			width: 100px;
		}

		div.identity {
			text-align: center;
			padding-top: 1rem;
			font-size: 0.8rem;
			color: #888888;
		}
	}

}