@import './variables.scss';

tr.pw__scan-asset {

	td {
		padding: 0.5rem;
		border-bottom: 1px solid #DFDFDF;

		&.asset-logo {
			// background-color: #F7FFFF;
			border-right: 1px solid #DFDFDF;
			width: 100px;
			
			svg {
				margin: 10px;
				fill: #777777;
			}
		}

		&.asset-details {
			vertical-align: top;

			div.name {
				font-size: 1.1rem;
			}
	
			div.status-text {
				font-size: 1rem;
				padding: 0.25rem 0;
			}

			div.recourse {
				padding: 0.25rem 0;

				a {
					cursor: pointer;
				}
			}
		}

		&.asset-action {
			vertical-align: middle;
			width: 50px;

			.icon-button {
				border: 1px solid #888888;
				border-radius: 50%;
				height: 35px;
				width: 35px;
	
				&.queued {
					background-color: $pwPrimary;
					border-color: transparent;
	
					svg {
						fill: $pwPrimaryText;
					}
	
					&.hover {
						background-color: $pwDanger;
	
						svg {
							fill: $pwDangerText;
						}
					}
				}
	
				svg {
					fill: #888888;
				}
	
				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	&:last-of-type {
		td {
			border-bottom-width: 0;
		}
	}
}