div.pw__scan-results {

	div.diffsView {

		div.diff {
			margin: 1rem 0;

			div.heading {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: flex-start;
				justify-content: flex-start;
				line-height: 2rem;

				.fileName {
					flex: 0 0 auto;
					font-size: 1.2rem;
				}

				.changes {
					flex: 0 0 auto;
					font-size: 1.2rem;
					padding-left: 1rem;

					span.added {
						color: green;
					}

					span.removed {
						color: red;
					}
				}
			}

			div.fileChanges {
				max-height: 500px;
				overflow: auto;
				background-color: #efefef;

				div.line {
					white-space: pre;

					span {
						display: inline-block;
						text-align: center;
						width: 1rem;
					}
				}
			}

		}

	}

}