div.pw__scan-asset {
	display: flex;
	justify-content: left;
	align-items: flex-start;
	border-bottom: 1px solid #DFDFDF;

	&:last-of-type {
		border-bottom-width: 0px;
	}

	div.asset-logo {
		flex: 0 0 100px;
		height: 100px;
		box-sizing: border-box;
		background-color: #F7FFFF;
		border-right: 1px solid #DFDFDF;
		
		svg {
			margin: 10px;
			fill: #777777;
		}
	}

	div.asset-details {
		padding: 10px;
		flex: 1 1 auto;
		box-sizing: border-box;

		div.name {
			font-size: 1.1rem;
		}
	}

	div.asset-action {
		flex: 0 0 50px;
		box-sizing: border-box;
	}
}