$pwPrimary: 	#00B548;
$pwPrimaryText:	#FFFFFF;
$pwDanger:		#D20000;
$pwDangerText:	#FFFFFF;
$pwPrimaryTrim:	#00963C;
$pwDangerTrim:	#B00000;
$pwSubtle:		#EAEAEA;
$pwSubtleTrim:	#CDCDCD;
$pwLeanText:	#888888;